<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>HelloCSS</title>
        <!-- Latest compiled and minified CSS -->
        <!-- REMOVE COMMENTS FROM HERE TO ENABLE THE STYLESHEET
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        -->
    </head>

    <body class="container">
        <header>
            <h1>HelloCSS</h1>

            <ul>
                <li>Hello</li>
                <li>List</li>
                <li>Styled</li>
                <li>Using</li>
                <li>CSS</li>
            </ul>
        </header>

        <table class="table">
            <tr>
                <th>An</th>
                <th>important</th>
                <th>header</th>
            </tr>
            <tr>
                <td>More</td>
                <td>important</td>
                <td>text</td>
            </tr>
            <tr>
                <td>More</td>
                <td>important</td>
                <td>text</td>
            </tr>
            <tr>
                <td>More</td>
                <td>important</td>
                <td>text</td>
            </tr>
            <tr>
                <td>More</td>
                <td>important</td>
                <td>text</td>
            </tr>
        </table>

        <p>Lorem Ipsum is a type of text which can be used to show what a page
            would look like if it had text content in it. There are numerous
            Lorem Ipsum generators online -- just google for 'Lorem Ipsum generator'. 
            The following text comes from one such generator.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in sem ante. Praesent eleifend aliquam felis vel consectetur. Aliquam in molestie felis. Sed ut consectetur est, eget varius sem. Suspendisse feugiat diam orci, at maximus libero hendrerit ut. Quisque aliquet dolor quis mauris convallis aliquam at et ante. Nunc nec vestibulum est, quis malesuada nulla. Mauris vel vehicula neque. Quisque sodales mauris id dignissim scelerisque. Etiam eu tincidunt risus. Curabitur vitae nisi velit. In posuere, lectus ut luctus dapibus, nibh felis dapibus libero, eu pretium odio orci eget purus. Morbi diam neque, sagittis molestie nibh id, consequat scelerisque risus.</p>

        <p>Fusce sed mauris lorem. Praesent blandit gravida scelerisque. Suspendisse potenti. Etiam egestas odio at convallis vehicula. Proin mollis lacinia suscipit. Integer ac mollis sapien. Aliquam vestibulum tortor non ante volutpat facilisis.</p>

        <p>Donec in blandit felis. Proin convallis sit amet erat eget iaculis. Mauris et libero sit amet sapien pellentesque placerat eget ac nunc. Etiam semper at lacus eget imperdiet. Integer vitae placerat velit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc dui sapien, sagittis non laoreet non, luctus ut lectus. Cras est lectus, volutpat et placerat non, convallis vel ipsum. Sed dapibus felis a posuere posuere. Aliquam erat volutpat.</p>

        <p>Nunc vel iaculis justo, ac tristique lorem. Cras in elit vitae lacus molestie lacinia sed in ex. Ut maximus mollis nulla eu semper. Ut tincidunt vel tellus in aliquam. Vivamus id erat lectus. Pellentesque tortor nibh, iaculis a scelerisque ut, laoreet nec sem. Fusce porttitor tristique risus ac interdum. Curabitur ac turpis id ligula dignissim blandit sed non nisi.</p>

        <p>Sed ut semper lacus, sit amet lobortis mi. Nunc dictum dui eget mauris dignissim, at iaculis felis posuere. Donec at ultricies odio. Donec iaculis in neque non dictum. Pellentesque a egestas arcu, venenatis mattis nibh. Nam vitae est cursus, vestibulum ex eu, aliquam est. Cras condimentum consequat neque. Morbi euismod justo tellus, at facilisis ligula maximus id. Cras vestibulum mauris non ex molestie tincidunt. Cras ut justo consequat, vehicula mi vel, sollicitudin diam. Mauris pellentesque felis quis purus ullamcorper, quis pharetra dolor dapibus. Aenean faucibus libero eget bibendum scelerisque. Aliquam risus mi, scelerisque vitae quam non, sagittis efficitur ligula.</p>
        
    </body>
</html>
